header {
  background-color: grey;
  min-height: 70px;
  width: 100%;
}
.marka {
  margin-left: 20px;
  img {
    height: 90px;
  }
}
.nav-toggler {
  margin-right: 20px !important;
}
.mat-drawer {
  width: 300px;
}
.mat-content {
  min-height: 150vh;
}
@mixin border($color: black, $thickness: 1px) {
  border: solid $color $thickness;
  border-radius: 5px;
  padding: 3px 10px;
  p {
    color: $color;
  }
}
.simple-card {
  @include border(transparent, 0px);
  box-shadow: 1px 2px 3px black;
  transition: 0.3s;
}
.my-div {
  padding: 10px 0px;
}
.done {
  @include border(transparent, 0px);
  text-decoration: line-through;
  opacity: 0.5;
  transition: 0.3s;
  input {
    text-decoration: line-through;
  }
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.max-width {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}
.editableInput {
  border: none;
  width: 100%;
  &:focus {
    outline: none;
  }
}

.myheader {
  font-size: 25px;
}
