/* You can add global styles to this file, and also import other style files */
@import "./app/scss/buttons";
@import "./app/scss/inputs";
@import "./app/scss/mixins";
@import "./app/scss/header";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 0px;
  min-height: 100vh;
}
.sideBar {
  padding: 10px;
  background-color: grey;
}
.main-content {
  padding: 10px;
}
.header {
  background-color: grey;
  padding: 10px;
}
